<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav id="layout-nav">
    <ul>
      <li>
        <button><a href="/">Home</a></button>
      </li>
      <li>
        <button><a href="/logout">Logout</a></button>
      </li>
      <li>
        <button><a href="/profile">Profile</a></button>
      </li>

      <li>
        <button><a href="/login">Login</a></button>
      </li>
    </ul>

  </nav>

  {{{body}}}
</body>

</html>